<article class="writing">
<h1>English translation</h1>
Fr. 4.1 - 4.7 - Expansions of Eusebius' <i>HE</i> / Fragments of Papias, Hegesippus, Pierius. [Attribution questionable]<br><br>
Fr. 4.1<br><br>
Fr. 4.2<br><br>
Fr. 4.3<br><br>
Fr. 4.4<br><br>
Fr. 4.5<br><br>
Fr. 4.6<br><br>
Fr. 4.7<br><br>
Fr. 5.1 - 5.7 - Constantine and the Council of Nicaea [Attribution questionable]<br><br>
Fr. 5.1 - The Beginning of Constantine's Reign:&nbsp; Relations with Barbarian Tribes<br><br>
Fr. 5.2 - Discussion of the Plausibility of the Sign that Appeared to Constantine<br><br>
Fr. 5.3 - Constantine and Crispus against Licinius<br><br>
Fr. 5.4 - Succession of Bishops in Alexandria&#8212;and Arius<br><br>
Fr. 5.5 - Constantine Speaks at the Council of Nicaea<br><br>
Fr. 5.6 - Supporters of Arius at the Council of Nicaea<br><br>
Fr. 5.7 - The Arian Philosopher and the Simple Old Man<br><br>
Fr. 6.1 - 6.7 - History from Diocletian to Constantine [Attribution to Philip questionable at best]&nbsp;<br><br>
Fr. 7.1-2 - Chemical processes for treating copper and iron [Attribution to Philip questionable at best]<br><br>
Fr. 7.1 - 5.4 Berthelot<br><br>
Fr. 7.2 - 5.5 Berthelot<br><br>
<h2>The fragments of Philip of Side</h2>
[Translated by Andrew Eastbourne] <sup>[1]</sup><br><br>
A catalogue of the fragments is given by Katharina Heyden, who lists all the fragments and discusses them: <em><i>Die Christliche Geschichte des Philippos von Side: Mit einem kommentierten Katalog der Fragmente</i></em>, in M. Wallraff (ed.), <em><i>Julius Africanus und die christliche Weltchronistik</i></em> (Berlin, 2006), pp. 209-243.<br><br>
<h2>Fr. 1<br> [On Adam and Eve]</h2>
[From Cod. Bodl. gr. 120, fol. 300r and Paris. Suppl. gr. 685, fol. 10r. &#8212; Greek text printed by D. Serruys, &quot;Autour d'un fragment de Philippe de Side,&quot; in <i>M&eacute;langes d'arch&eacute;ologique et d'histoire</i> 26 (1906), pp. 335-359 (p. 336 for the text of these two mss.; on p. 346, Serruys prints the parallel material from Paris. gr. 1712, where Philip's name is not cited). Wirth, <i>Aus orientalischen Chroniken</i>, pp. 208-9, had earlier printed somewhat more text as the fragment from Paris Suppl. gr. 685.]<br><br>
</article>
