<article class="writing"><h1>10.-Fragments of Other Lost Books</h1>
<h2>Maximus, Sermon 2.-John of Damascus, II. Chap. 70.-Antonius Melissa, Book I. Sermon 52.</h2>
Flattery is the bane of friendship. Most men are accustomed to pay court to the good fortune of princes, rather than to the princes themselves.<br/><br/>
<h2>Maximus, Sermon 13, P. 574.-Antonius Melissa, Sermon 32, P. 45, and Sermon 33, P. 57.</h2>
The lovers of frugality shun luxury as the bane of soul and body. The possession and use of necessaries has nothing injurious in quality, but it has in quantity above measure. Scarcity of food is a necessary benefit.<br/><br/>
<h2>Maximus, Sermon 52, P. 654.-Antonius Melissa, Book I. Sermon 54.</h2>
The vivid remembrance of death is a check upon diet; and when the diet is lessened, the passions are diminished along with it.<br/><br/>
<h2>Maximus, Sermon 55, P. 661.</h2>
Above all, Christians are not allowed to correct with violence the delinquencies of sins. For it is not those that abstain from wickedness from compulsion, but those that abstain from choice, that God crowns. It is impossible for a man to be steadily good except by his own choice. For he that is made good by compulsion of another is not good; for he is not what he is by his own choice. For it is the freedom of each one that makes true goodness and reveals real wickedness. Whence through these dispositions God contrived to make His own disposition manifest.<br/><br/>

</article>
