<article class="writing"><h1>6.-From the Book on the Soul</h1>
<h2>Maximus and Antonius Melissa.<sup><a href="#fn1" id="r1">1</a></sup></h2>
Souls that breathe free of all things, possess life, and though separated from the body, and found possessed of a longing for it, are borne immortal to the bosom of God: as in the winter season the vapours of the earth attracted by the sun's rays rise to him.<br/><br/>
<h2>The Barocc. Ms.<sup><a href="#fn2" id="r2">2</a></sup></h2>
All souls are immortal, even those of the wicked, for whom it were better that they were not deathless. For, punished with the endless vengeance of quenchless fire, and not dying, it is impossible for them to have a, period put to their misery.<section class="notes"><hr/><span id="fn1"><a href="#r1">1</a>&nbsp;Sermon 53. On The Soul , p. 156. [Anton. Melissa, a Greek monk of the twelfth century, has left works not infrequently referred to by modern authors. Flourished a.d. 1140]
</span><br/><span id="fn2"><a href="#r2">2</a>&nbsp;143, fol. 181, p. 1, chapter On Care For The Soul .
</span><br/></section></article>
