<article class="writing"><h1>7.-Fragment from the Book on Slander</h1>
<h2>Antonius Melissa, Book. II. Sermon 69.<sup><a href="#fn1" id="r1">1</a></sup></h2>
Never be afraid of the slanderer who addresses you. But rather say, Stop, brother; I daily commit more grievous errors, and how can I judge him? For you will gain two things, healing with one plaster both yourself and your neighbour. He shows what is really evil. Whence, by these arguments, God has contrived to make each one's disposition manifest.<br/><br/>
<h2>Antonius Melissa, Book I. Sermon 64, and Book II. Sermon 87. Also Maximus, Sermon 59, P. 669; John of Damascus, Book II.</h2>
It is not abstaining from deeds that justifies the believer, but purity and sincerity of thoughts.<section class="notes"><hr/><span id="fn1"><a href="#r1">1</a>&nbsp;On Slanderers and Insult . The evidence on which this is ascribed to Clement is very slender.
</span><br/></section></article>
